<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yao.testdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/><!-- 广播创建快捷方式的权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/><!-- 创建桌面快捷方式  长按的类型-->
            </intent-filter>
        </activity>
        <activity android:name=".cleartext.TestClearActivity"/>
        <activity android:name=".webview.TestAssetsWebView"/>
        <activity android:name=".systemproperties.TestSystemProperties"/>
        <activity android:name=".systemcrop.HeadSelectPageActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".systemcrop.TestSystemCrop"/>
        <activity android:name=".imagespan.TestImageSpan"/>
        <activity android:name=".emoji.EmojiActivity"/>
        <activity android:name=".testhead.ZambiaActivity"/>
        <activity android:name=".translateanimation.TranslateAnimation"/>
        <activity android:name=".ximage.TestShowGif"/>
        <activity android:name=".autoscrollviewpager.TestScrollViewPager"/>
        <activity android:name=".chat.TestChat"/>
        <activity android:name=".update_pulltorefreshview.TestUpdatePullToRefreshViewActivity"/>
        <activity android:name=".toast.ToastTest"/>
        <activity android:name=".time.TimeTest"/>
        <activity android:name=".copyelememenu.ElemeMenuActivity"/>

    </application>

</manifest>
